# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
virt/
.env
.venv

# Django stuff
*.log
*.pot
*.py[co]

# SQLite database
/db.sqlite3
/ecom/db.sqlite3

# Media & uploaded files
/ecom/media/

# Static files collected by collectstatic (if you use it)
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
