{% extends "base.html" %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">ABOUT US...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to about us section!</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>
                    <p align="justify">If that applies to your store or you haven’t updated your About Us page in a while, this guide will inspire you to turn this important part of your store into an effective piece of content that can help grow your business.
Your About Us page can play a key role in differentiating yourself from the competition — something that’s vital for all eCommerce stores.
<br/><br/>
With customers considering elements other than pricing and the product itself when making a buying decision, it’s vital that you can use your About Us page to share your personality and tell the story behind your brand. Giving your customers something to connect with can help them choose you over the competition, whether that’s them agreeing with your founding principles, approving of your sustainability efforts, or resonating with something else you can share on your About Us page.
<br/><br/>
Your About Us page can also generate sales. Including product images and videos, calls-to-actions, and proof that you’re a legitimate business founded by real people can all help make your About Us page a profitable part of your store.
In this guide, you’ll find a collection of stylish and effective examples that can inspire you to give your About Us page the attention it deserves.
 <br/><br/>
                    </p>
                </div>
            </center>
        </div>
    </div>
{% endblock %}